
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497596539060'); /* IE9*/
  src: url('iconfont.eot?t=1497596539060#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497596539060') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497596539060') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497596539060#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:.54rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxiazhankai:before { content: "\e8f2"; }

.icon-tel:before { content: "\e607"; }

.icon-yanzhengma:before { content: "\e608"; }

.icon-yiwancheng:before { content: "\e609"; }

.icon-pingfen:before { content: "\e60a"; }

.icon-pingfen1:before { content: "\e60b"; }

.icon-quxiao:before { content: "\e60c"; }

.icon-gengduo:before { content: "\e601"; }

.icon-beizhu:before { content: "\e617"; }

.icon-fasong:before { content: "\e61c"; }

.icon-dianhua:before { content: "\e61d"; }

.icon-xingbie:before { content: "\e628"; }

.icon-chengchangzuji:before { content: "\e629"; }

.icon-wodexinxi:before { content: "\e627"; }

.icon-chushengriqi:before { content: "\e62b"; }

.icon-baobaoxinxi:before { content: "\e62c"; }

.icon-baobaoxiangce:before { content: "\e62a"; }

.icon-chankangjilu:before { content: "\e62d"; }

.icon-dingdanjilu:before { content: "\e62e"; }

.icon-wodecandan:before { content: "\e62f"; }

